<%= content_tag :div, class:"message-list", data: {message_id: message.id} do %>
    <div class="message-list__upper-info">
        <div class="message-list__upper-info__user">
            <%= message.user.name %>
        </div>
        <div class="message-list__upper-info__date">
            <%= message.created_at.strftime("%Y年%m月%d日 %H時%M分") %>
        </div>
    </div>
    <div class="message-list-text">
        <p class="message-list-text__content">
            <%= message.content %>
        </p>
    </div>
<% end %>