<% provide(:title, 'リクエスト一覧') %>

<h1>Request List</h1>

<ul class="baggage_requests">
    <% @baggage_requests.each do |baggage_request| %>
        <% if baggage_request.approval_flag == 0 %>
            <%= render "baggage_request", baggage_request: baggage_request %>
        <% end %>
    <% end %>
</ul>

<!-- TODO jsファイルに移す -->
<script>
    setTimeout(function () {
        location.reload();
    }, 43200000);
</script>