<% provide(:title, 'リクエスト一覧') %>

<h1>Request List</h1>

<ul class="baggage_requests">
    <% @baggage_requests.each do |baggage_request| %>
        <%= render "baggage_request", baggage_request: baggage_request %>
    <% end %>
</ul>

<script>
    setTimeout(function () {
        location.reload();
    }, 43200000);
</script>