@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #eaeaea;

@mixin box_sizing{
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* universal */

body{
    padding-top:60px;
    font-family: 'Comic Sans MS', 'Wawati SC';
    color: black;
    background-color: rgb(255, 245, 155);
}

section{
    overflow: auto;
}

textarea{
    resize: vertical;
}

.center{
    text-align: center;
}

.center h1{
    margin-bottom: 10px;
}

img {
  border-radius: inherit;
}

.btn-primary {
  background-color: rgb(173, 89, 50);
  border-color: rgb(173, 89, 50);
}

#map {
  height: 500px;
}

/* header */

header{
  font-family: 'Comic Sans MS';
  a {
    color: black;
  }
}

#logo{
    float: left;
    margin-right: 10px;
    font-family: 'Comic Sans MS';
    color: black;

    /* em(えむ)は文字の大きさを基準にしている単位で、文字の大きさを20pxとしている場合は
    1emは20pxとなる。
    これは相対単位と呼ばれ、ブラウザから文字の大きさの要求があった場合にそれに合わせて文字
    の大きさが変化するため、一般的に使用が推奨されている。 */
    font-size: 1.7em;

    /* 大文字表記 */
    text-transform: uppercase;

    /* 文字の間隔 */
    letter-spacing:-1px;

    padding-top: 9px;
    font-weight:bold;
    /* Sassは、SCSSをCSSに変換する際に、&:hoverを#logo:hoverに置き換えている。
     さらに、このように表記することで#logoの繰り返し表記を避けることができる。*/
    &:hover{
        text-decoration: none;
    }
}



/* footer */

footer{
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid $gray-medium-light;
    color: $gray-light;
    a{
        color: $gray;
    }
    small{
        float: left;
    }

    ul {
        float: right;
        list-style: none;
      }

    ul li{
        float: right;
        margin-left: 15px;
    }
}

.debug_dump{
    clear:both;
    float:left;
    width:100%;
    margin-top:45px;
    @include box_sizing;
}

/* sidebar */

  .slidebar{
    background-color: rgb(255, 184, 102);
    border-radius: 20px;
    nav {
      section.user_info {
        margin-top: 20px;
        margin-bottom: 0;
        padding-bottom: 0;
        div {
          display: block;
          h1.user-image{
            color: white;
            display: block;
            overflow: none;
            img {
              border-radius: 80%;
            }
          }
          span{
            text-align: right;
          }
        }
      }
      section {
        padding: 10px 0;
        margin-top: 20px;
        &:first-child {
          border: 0;
          padding-top: 0;
        }
        span {
          display: block;
          margin-bottom: 3px;
          line-height: 1;
        }
        h1 {
          display: block;
          font-size: 1.4em;
          letter-spacing: -1px;
          margin-bottom: 3px;
          margin-top: 0px;
        }
      }
      section.menu-content {
        padding-top: 0;
        margin-top: 0;
        ul {
          display: block;
          padding-left: 0;
          list-style-type: none;
          li {
            margin-bottom: 5px;
            a {
              color: white;
            }
          }
          // ドロップダウン用
          div.btn-group {
            button {
              display: block;
              width: 100%;
            }
            .dropdown-menu {
              a{
                display: block;
                width: auto;
              }
            }
          }
        }
      }
    }
  }

  .stats{
    overflow: auto;
    margin-top: 0;
    padding: 0;
    a{
      float: left;
      padding: 0 10px;
      border-left: 1px solid $gray-lighter;
      color: gray;
      &:first-child{
        padding-left: 0;
        border: 0;
      }
      &:hover{
        text-decoration: none;
        color: blue;
      }
    }
      strong{
        display: block;
      }
  }

  .user_avatars{
    overflow: auto;
    margin-top: 10px;
    .gravatar{
      margin: 1px 1px;
    }
    a{
      padding: 0;
    }
  }

  .users.follow{
    padding: 0;
  }

  /* user page */
  aside.col-md-8 {
    display: flex;
    z-index: 0;
    margin-left: auto;
    margin-right: auto;
    .user-show {
      .user-show-top {
        display: flex;
        margin-right: auto;
        margin-left: auto;
        .user-show-image {
          display: block;
          margin: 0 auto;
          img {
            border-radius: 80%;
            padding: 0 auto;
          }
        }
        ul {
          display: block;
          list-style-type: none;
        }
      }
      div.user-info {
        display: block;
      }
    }
  }


  /* forms */

  input, textarea, select, .uneditable-input{
      border:1px solid #bbb;
      width:100%;
      margin-bottom:15px;
      @include box_sizing;
  }

  input{
      height:auto !important;
  }

  input[type=checkbox] {
    width: 20px;
    word-wrap: break-word;
  }

  #error_explanation{
    color:red;
    ul{
      color:red;
      margin: 0 0 30px 0;
    }
  }
  
  .field_with_errors{
    @extend .has-error;
    .form-control{
      color:$state-danger-text;
    }
  }

  .checkbox{
    margin-top: -10px;
    margin-bottom: 10px;
    span{
      margin-left: 20px;
      font-weight: normal;
    }
  }

  #session_remember_me{
    width:auto;
    margin-left: 0;
  }

  /* Users index */ 

  .users{
    z-index: 0;
    list-style:none;
    margin:0;
    display: flex;
    flex-direction: column;
    li{
      overflow:auto;
      padding: 10px 0;
      border-bottom:1px solid $gray-lighter;
    }
    .is-hide {
      display: none;
    }
  }

  /* request page */

  .request-form {
    background-color: blue($color: #000000);
    .request-time {
      display: flex;
      justify-content: space-around;
      margin-bottom: 20px;
      input {
        height: auto;
        width: 15em;
      }
      div.from_time {
        display: flex;
        flex-direction: column;
      }
      div.to_time {
        display: flex;
        flex-direction: column;
      }
    }
    .btn {
      width: 100%;
    }
  }

    /* Baggage request index */ 

    .baggage_requests{
      z-index: 0;
      list-style:none;
      margin:0;
      display: flex;
      flex-direction: column;
      li{
        overflow:auto;
        padding: 10px 0;
        border-bottom:1px solid $gray-lighter;
        a.user_show_links{
          font-size: 2em;
          vertical-align: middle;
        }
        .request_index_link_row{
          display: flex;
          justify-content: start;
          a.to_request_show{
          }
        }
      }
      .is-hide {
        display: none;
      }
    }