<h2>預けた荷物の詳細</h2>

<div class='container'>
    <ul class="baggage_requests">
        <%= render 'baggages/transaction', baggage_request: @baggage_request %>
        <div class="request_index_link_row">
            <%= link_to "取引終了", transaction_terminate_path(current_user, @baggage_request), class: "to_request_show btn btn-primary", method: :patch %>
            <%= link_to "メッセージルーム", message_page_path(current_user, @baggage_request.get_to_user), class: "to_request_show btn btn-primary" %>
        </div>
    </ul>
</div>
