<h2>取引履歴一覧</h2>

<div class='container'>
    <ul class="baggage_requests">
        <% @baggage_requests.each do |baggage_request| %>
            <%= render 'baggages/baggage_request', baggage_request: baggage_request %>
        <% end %>
    </ul>
</div>
